* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #cfbbbb76;
  color: #212121;
  line-height: 1.5;
}

#search-box {
  font: inherit;
  width: 300px;
  height: 45px;
  border: none;
  border-radius: 4px;
  margin: 30px auto 40px;
  padding: 8px;
  display: block;
  box-shadow: 0 0 10px 5px #9a8e8e4d;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  height: auto;
  box-shadow: 0 0 1px 0.5px hsl(0deg 0% 13%);
}

.country-list {
  width: 500px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 0 auto;
}

.country-list li {
  display: flex;
  gap: 15px;
  align-items: center;
}

.country-info {
  width: 500px;
  margin: 0 auto;
}

.country-info img {
  margin: 0 auto;
  display: block;
}

.country-info .country-name {
  text-align: center;
}